body{
  
  background: url(https://images.unsplash.com/photo-1612404748636-6a623b48b4dc?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8c2t5JTIwYmFja2dyb3VuZHxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  background-repeat: no-repeat;
  background-size: cover;

}
.container  .jumbotron{
  margin-top: 50px;
  background: orange;
  color:white;
  font-family: 'Merriweather' , serif;

}
table,tr,td,thead,th{
  border: 2px solid white;
  font-size: 30px;
  color: white;
  background: red;
  margin: auto;
}
thead,th{
  border: 2px solid red;
  font-size: 30px;
  color: blue;
  margin: auto;
  background: yellow;
}
h1{
  text-align: center;
}
form{
  border: 2px groove orange;
}
